<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
 <link rel="stylesheet" href="/static/style.css">

  <title>Estimator</title>
</head>

<body>

  <div class="mar">
  <div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        Real State Estimator
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>

    <div class="nav-links">
      <a href="//github.io/jo_geek" target="_blank">Github</a>
      <a href="http://stackoverflow.com/users/4084003/" target="_blank">Stackoverflow</a>
      <a href="https://in.linkedin.com/in/jonesvinothjoseph" target="_blank">LinkedIn</a>
      <a href="https://codepen.io/jo_Geek/" target="_blank">Codepen</a>
      <a href="https://jsfiddle.net/user/jo_Geek/" target="_blank">JsFiddle</a>
    </div>
  </div>
</div>
  <div class="back1">
    <div class="back">
      <h1 class="ml3">Real Estate Estimate</h1>
      <p class="Welcome" style="font-size: 30px;margin-top: 50px; text-align: center;">Welcome to hackathon 2023, our website can predict the best building you want to buy </p>
    </div>
  </div>


  <h2>Find yor dream home</h2>
  <div class="homeB">
    <p class="home">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Beatae dolorum corporis earum nisi inventore
      nemo sed minus accusamus possimus! Quam consectetur
      et doloribus sunt optio, est officia corrupti hic modi!</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card">
          <img src="/static/img/8.jpg" alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Home</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a
              laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt
              repellendus praesentium quae!</p>
            <a href="" class="btn btn-outline-dark btn-sm">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card">
          <img src="/static/img/8.jpg" alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Home</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a
              laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt
              repellendus praesentium quae!</p>
            <a href="" class="btn btn-outline-dark btn-sm">Read More</a>

          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card">
          <img src="/static/img/8.jpg" alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Home</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a
              laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt
              repellendus praesentium quae!</p>
            <a href="" class="btn btn-outline-dark btn-sm">Read More</a>

          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
  <h2 class="well">What Are you Waiting For?</h2>
  <div class="container1">
    <div class="fade-in-image">
      <img class="img2" src="/static/img/8.jpg" alt="">
    </div>
    <div class="homeBc">
      <div class="para">
        <h2 class="hm1">Your way to your home</h2>
        <p class="home1">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Beatae dolorum corporis earum nisi inventore
          nemo sed minus accusamus possimus! Quam consectetur
          et doloribus sunt optio, est officia corrupti hic modi!</p>
      </div>
    </div>
  </div>

  <div class="pre">
    <div class="para1">
      <h1 class="ml2">Let's predict the best price you can get </h1>
      <p class="predict">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Corporis tempora, nam sapiente praesentium modi ducimus ipsum similique,
        inventore consectetur aliquam labore molestiae, neque saepe commodi
        minima facere omnis velit. Deleniti.</p>
    </div>
    <section class="vh-100 gradient-custom">
      <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-12 col-lg-9 col-xl-7">
            <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
              <div class="card-body p-4 p-md-5">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Predict The Home Price</h3>
                <form  action="/" method="POST">
    
                  <div class="row">
                    <div class="col-md-6 mb-4">
    
                      <div class="form-outline">
                        <input type="number" id="longitude" name="longitude" class="form-control form-control-lg" />
                        <label class="form-label" for="longitude">Longitude</label>
                      </div>
    
                    </div>
                    <div class="col-md-6 mb-4">
    
                      <div class="form-outline">
                        <input type="number" id="latitude"  name="latitude" class="form-control form-control-lg" />
                        <label class="form-label" for="latitude">Latitude</label>
                      </div>
    
                    </div>
                  </div>
    
                
                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">
    
                      <div class="form-outline">
                        <input type="number" id="totalRooms" name="totalRooms" class="form-control form-control-lg" />
                        <label class="form-label" for="totalRooms">Total Rooms</label>
                      </div>
    
                    </div>
                    <div class="col-md-6 mb-4 pb-2">
    
                      <div class="form-outline">
                        <input type="number" id="totalBedrooms"  name="totalBedrooms" class="form-control form-control-lg" />
                        <label class="form-label" for="totalBedrooms">Total Bedrooms</label>
                      </div>
    
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">
    
                      <div class="form-outline">
                        <input type="number" id="population" name="population" class="form-control form-control-lg" />
                        <label class="form-label" for="population">Population</label>
                      </div>
    
                    </div>
                    <div class="col-md-6 mb-4 pb-2">
    
                      <div class="form-outline">
                        <input type="number" id="households" name="households" class="form-control form-control-lg" />
                        <label class="form-label" for="households">Households</label>
                      </div>
    
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">
    
                      <div class="form-outline">
                        <input type="number" id="medianIncome" name="medianIncome" class="form-control form-control-lg" />
                        <label class="form-label" for="medianIncome">Median Income</label>
                      </div>
    
                    </div>
                    <div class="col-md-6 mb-4 pb-2">
    
                      <div class="form-outline">
                        <input type="text" id="oceanProximity" name="oceanProximity" class="form-control form-control-lg" />
                        <label class="form-label" for="oceanProximity">Ocean Proximity</label>
                      </div>
    
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4 d-flex align-items-center">
    
                      <div class="form-outline datepicker w-100">
                        <input type="number" class="form-control form-control-lg" name="housingMedianAge" id="housingMedianAge" />
                        <label for="housingMedianAge" class="form-label">Housing Median Age</label>
                      </div>
    
                    </div>
                  </div>
    
    
                   <div class="mt-4 pt-2">
                                <button class="btn btn-primary btn-lg"  style="background-color: rgb(40, 40, 59);" type="submit" value="submit" >Predict</button>
                            </div>
                            <div class="result">
                              <div class="res1" >
                                  <h3>Prediction:</h3>
                                  
                                  <label for="prediction-result">{{ prediction }}</label>
                                
                              </div>

                              <div id="prediction-result"></div>
                          </div>
    
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
     
    </section>
  
    

  <h2 class="Who" style="margin-top: 200px;margin-bottom: 100px;">Who We Are?</h2>
  <div class="slider-container">

    <div class="slider">
      <div class="care">
        <div class="custom-card">
          <div class="custom-card-image">
            <img src="/static/img/12.jpg" alt="Profile Image">
          </div>
          <div class="custom-card-content">
            <h2 class="custom-card-title">Mara Smith</h2>
            <p class="custom-card-specialization">UI/UX Designer</p>
            <p class="custom-card-description">Passionate about creating user-centered and visually stunning designs.
            </p>
          </div>
          <div class="custom-card-footer">
            <button class="custom-card-button">Connect</button>
          </div>
        </div>
      </div>
      <div class="care">
        <div class="custom-card">
          <div class="custom-card-image">
            <img src="/static/img/12.jpg" alt="Profile Image">
          </div>
          <div class="custom-card-content">
            <h2 class="custom-card-title">Noor Aljubeh</h2>
            <p class="custom-card-specialization">Web Developer</p>
            <p class="custom-card-description">Passionate about crafting elegant and functional websites.</p>
          </div>
          <div class="custom-card-footer">
            <button class="custom-card-button">Connect</button>
          </div>
        </div>
      </div>
      <div class="care">
        <div class="custom-card">
          <div class="custom-card-image">
            <img src="/static/img/12.jpg" alt="Profile Image">
          </div>
          <div class="custom-card-content">
            <h2 class="custom-card-title">Anwar Alhusien</h2>
            <p class="custom-card-specialization">Data Analyst</p>
            <p class="custom-card-description">Passionate about crafting elegant and functional websites.</p>
          </div>
          <div class="custom-card-footer">
            <button class="custom-card-button">Connect</button>
          </div>
        </div>
      </div>
      <div class="care">
        <div class="custom-card">
          <div class="custom-card-image">
            <img src="/static/img/12.jpg" alt="Profile Image">
          </div>
          <div class="custom-card-content">
            <h2 class="custom-card-title">Ahmed Deria</h2>
            <p class="custom-card-specialization">Data Analyst</p>
            <p class="custom-card-description">Passionate about crafting elegant and functional websites.</p>
          </div>
          <div class="custom-card-footer">
            <button class="custom-card-button">Connect</button>
          </div>
        </div>
      </div>
      
      <div class="care">
        <div class="custom-card">
          <div class="custom-card-image">
            <img src="/static/img/12.jpg" alt="Profile Image">
          </div>
          <div class="custom-card-content">
            <h2 class="custom-card-title">Rasha Daghlas</h2>
            <p class="custom-card-specialization">Hackathon Mentor</p>
            <p class="custom-card-description">Passionate about crafting elegant and functional websites.</p>
          </div>
          <div class="custom-card-footer">
            <button class="custom-card-button">Connect</button>
          </div>
        </div>
      </div>
      <div class="care">
        <div class="custom-card">
          <div class="custom-card-image">
            <img src="/static/img/12.jpg" alt="Profile Image">
          </div>
          <div class="custom-card-content">
            <h2 class="custom-card-title">John Doe</h2>
            <p class="custom-card-specialization">Web Developer</p>
            <p class="custom-card-description">Passionate about crafting elegant and functional websites.</p>
          </div>
          <div class="custom-card-footer">
            <button class="custom-card-button">Connect</button>
          </div>
        </div>
      </div>

    </div>


  </div>
  <div class="slider-buttons">
    <button class="slider-button left-button"><i class="fas fa-chevron-left"></i></button>
    <button class="slider-button right-button"><i class="fas fa-chevron-right"></i></button>
  </div>


  <footer class="section bg-footer" style="background-color: #212121;">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="">
            <h6 class="footer-heading text-uppercase text-white">Information</h6>
            <ul class="list-unstyled footer-link mt-4">
              <li><a href="">Pages</a></li>
              <li><a href="">Our Team</a></li>
              <li><a href="">Feuchers</a></li>
              <li><a href="">Pricing</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="">
            <h6 class="footer-heading text-uppercase text-white">Ressources</h6>
            <ul class="list-unstyled footer-link mt-4">
              <li><a href="">Monitoring Grader </a></li>
              <li><a href="">Video Tutorial</a></li>
              <li><a href="">Term &amp; Service</a></li>
              <li><a href="">Zeeko API</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-2">
          <div class="">
            <h6 class="footer-heading text-uppercase text-white">Help</h6>
            <ul class="list-unstyled footer-link mt-4">
              <li><a href="">Sign Up </a></li>
              <li><a href="">Login</a></li>
              <li><a href="">Terms of Services</a></li>
              <li><a href="">Privacy Policy</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="">
            <h6 class="footer-heading text-uppercase text-white">Contact Us</h6>
            <p class="contact-info mt-4">Contact us if need help withanything</p>
            <p class="contact-info">+972 0597377241</p>
            
          </div>
        </div>

      </div>
    </div>

    <div class="text-center mt-5">
      <p class="footer-alt mb-0 f-14">2023 © Estimate, All Rights Reserved</p>
    </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  <script src="/static/real.js"></script>
</body>

</html>